# Node modules
node_modules/
 
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vercel specific
.vercel/
.vscode/

# MacOS
.DS_Store

# localhost-keys
localhost-key.pem
localhost-cert.pem

# Next.js
.next/
out/
.next/cache
.next/static/development/_buildManifest.js
.next/static/chunks/pages/
.next/static/webpack/
.next/server/pages/
.next/static/chunks/
.next/server/webpack-runtime.js

# pnpm
pnpm-lock.yaml
